<header class="header text-center">
    <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="index.html">{AUTHOR_NAME}'s Blog</a></h1>

    <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column">
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="assets/images/profile.png" alt="image">

                <div class="bio mb-3">{AUTHOR_DESCRIPTION}</div><!--//bio-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="{TWITTER}" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="{GITHUB}" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="{LINKEDIN}" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                </ul><!--//social-list-->
                <hr>
            </div><!--//profile-section-->

            <ul class="navbar-nav flex-column text-center">
                <li class="nav-item">
                    <a class="nav-link" href="./index.html"><i class="fas fa-home fa-fw me-2"></i>Blog Home <i class="fas fa-home fa-fw me-2"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./about.html"><i class="fas fa-user fa-fw me-2"></i>About Me <i class="fas fa-user fa-fw me-2"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./blog-posts.html"><i class="fas fa-bookmark fa-fw me-2"></i>Blog Posts <i class="fas fa-bookmark fa-fw me-2"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./writeups.html"><i class="fas fa-flag fa-fw me-2"></i>Writeups <i class="fas fa-flag fa-fw me-2"></i></a>
                </li>
            </ul>

            <div class="my-2 my-md-3 text-center">
                <a class="btn btn-primary" href="{GET_IN_TOUCH}" target="_blank">Get in Touch</a>
            </div>
        </div>
    </nav>
</header>