<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{TITLE} - About Me</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{AUTHOR_NAME}">

    <!-- FontAwesome JS-->
    <script defer src="assets/js/fontawesome.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-90D3KJBRDM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-90D3KJBRDM');
    </script>
</head>
<body class="theme-bg-light">

    {{HEADER}}

    <div class="main-wrapper">

        <article class="about-section py-5">
            <div class="container">
                <h2 class="title mb-3">About Me</h2>
                <p>{ABOUT_ME}</p>
                <h5 class="mt-5">About The Blog</h5>
                <p>{ABOUT_BLOG}</p>
                <h5 class="mt-5">My Skills and Experience</h5>
                <p>{SKILLS_AND_EXPERIENCE}</p>
                <h5 class="mt-5">Side Projects</h5>
                <p>{SIDE_PROJECTS}</p>

            </div>
        </article><!--//about-section-->

        {{FOOTER}}

    </div><!--//main-wrapper-->
    <!-- Javascript -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>